<div id="banner" class="page-header">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <h1>About Take A Trip<img src="https://cdn-icons.flaticon.com/png/512/1424/premium/1424072.png?token=exp=1646717284~hmac=d85e978d825231e563927502c297c366" width="50" height="50" style="margin-left:20px;"></h1>
            </div>
        </div>
    </div>
<div class="row">
    <div class="col-md-6 col-sm-12" style='padding-left: 80px;'>
        <p>Take A Trip is a pioneer in Canada's online travel business, having grown from the root of a single brilliant idea: to empower the traveller. Take A Trip was created to provide the Canadian traveller with rapid bookings and a wide range of options. The company began its journey by addressing the US-Canada travel market by providing a variety of high-value products and services backed by technology and round-the-clock customer service. <br><br>
           Take A Trip has solidified its market position as a brand known for its dependability and openness.!</p>
    </div>
</div>