extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-sm-12
      p(style='padding-left: 50px; padding-right: 50px;')
        | CineWorld is a movie store operating in Waterloo, Ontario since 1994. We specialise in the sale of DVDs, Blu-ray discs, TV Shows and movie collectibles, with over 10,000 titles in stock. Our broad back library seeks to provide customers with access to every title available worldwide, including the newest releases, classic classics, and collector's editions. <br><br>
        | Choose from thousands of titles in every genre imaginable, including old classics, musicals, international films, movie serials, TV shows, and much more. Use our new and updated online store to find your favourite movie or TV show and have it delivered right to your door!