  <div class="container-fluid">
    <!-- <img src="https://miro.medium.com/max/1400/1*5lyavS59mazOFnb55Z6znQ.png" alt="Background" style='width:100%'> -->
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" width="100%">
      <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
    </video>
  </div>
  <div class="text-center">
    <h2 style="padding-top:50px"> Find the Best Holiday Packages with us!</h2>
  </div>
    
      <div class="row">
        <div class="text-center">
            <div class="col-lg-4 col-lg-offset-4">
                <div style='padding-top: 30px; padding-left: 140px;' class="input-group">
                    <input type="text" class="form-control" placeholder='  Enter Email Address' /> 
                </div>
            </div>
        </div>
      </div>
      <div style="text-align: center;">
        <a routerLink="/list"><button style='margin-top: 40px; margin-bottom: 40px;' type="button" class="btn btn-primary">Explore</button></a>
      </div>


